{% extends "admin_base.html" %}
{% block title %}CRUD.Activities{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Activities</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="/data_activities/create" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Add New Company</span></a>
						<a href="#deleteActivityModal" class="btn btn-danger" data-toggle="modal" data-cid="selected"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>For company</th>
                        <th>Name</th>
                        <th>Minimum Price</th>
                        <th>Technology Stack</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in data %}
                    <tr id="row_{{ activity.id }}">
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox{{ loop.index }}" name="options[]" value="1">
								<label for="checkbox{{ loop.index }}"></label>
							</span>
						</td>
                        <td>{{ activity.for_company }}</td>
                        <td>{{ activity.name }}</td>
						<td>{{ activity.minimum_price }}</td>
                        <td>{{ activity.stack }}</td>
                        <td>
                            <a href="/data_activities/edit?id={{ activity.id }}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteActivityModal" class="delete" data-toggle="modal" data-cid="{{ activity.id }}"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
			<div class="clearfix">
                <div class="hint-text">Showing <b>{{ showed }}</b> out of <b id="total">{{ total }}</b> entries</div>
                <ul class="pagination">
                    {% if page > 1 %}
                        <li class="page-item"><a href="/data_activities/{{ page - 1 }}" class="page-link">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link">Previous</a></li>
                    {% endif %}

                    {% for i in range(totalp) %}
                        <li class="page-item {{ 'active' if loop.index == page else '' }}"><a href="/data/{{ loop.index }}" class="page-link">{{ loop.index }}</a></li>
                    {% endfor %}

                    {% if page < totalp %}
                        <li class="page-item"><a href="/data_activities/{{ page + 1 }}" class="page-link">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

	<!-- Delete Modal HTML -->
	<div id="deleteActivityModal" class="modal fade" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Delete Activity</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete these records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
                    <input type="hidden" value="cid" id="cid-hidden">
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-danger" id="delete-confirmation-a-btn" value="Delete">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block afterscripts %}
<script>
	$('#deleteActivityModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget); // Button that triggered the modal
        console.log(button);
        let company = button.data('cid'); // Extract info from data-* attributes
        console.log(company);
        let modal = $(this);
        modal.find('#cid-hidden').val(company);
    });

	$('#delete-confirmation-a-btn').on('click', function (e) {
        e.preventDefault();
        $('#deleteActivityModal').modal('hide');
        let cid = $('#cid-hidden').val();
        if (cid === 'selected'){
            cid = $('tbody input:checked').parent().parent().parent().children('td').children('.delete').map(function() {return this.dataset.cid}).get().join(' ')
        }
        $.ajax({
            url: '/data_activities/delete',
            type: 'post',
            data: {
                'cid': cid
            },
            success: function (e) {
                cid.split(' ').forEach(function (elem) {
                    $('#row_'+elem).remove();
                });
            },
        })
    });
</script>
{% endblock %}
