{% extends "admin_base.html" %}
{% block title %}Creation of new company{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form action="#" method="post">
            <h4>Add Company</h4>
            <div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Minimum Price</label>
                    <input type="number" step="0.01" class="form-control" name="minprice" required>
                </div>
                <div class="container-fluid mb-3" >
                    <label>Technology stack</label>
                    <div class="form-group" id="stacks-container">
                        <div class="row">
                            <div class="col-10 pr-0">
                                <input type="text" class="form-control mb-1" name="stack1" required>
                            </div>
                            <div class="col-1">
                                <button type="button" class="d-flex btn btn-danger stack-remove" data-stack="1">X</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="add_to_stack">Add technology</button>
                </div>
            </div>
            <div class="modal-footer">
                <input type="reset" class="btn btn-default" value="Clear">
                <input type="submit" class="btn btn-success" value="Add">
            </div>
        </form>
    </div>
{% endblock %}

{% block afterscripts %}
<script>
    let latest_technology = 1;
    $(document).ready(function() {
        function tech_deletion() {
            let technology = this.dataset.stack;
            $('[name="stack'+technology+'"]').parent().parent().remove()
        }

        $('#add_to_stack').on('click', function () {
            latest_technology++;
            $('#stacks-container').append('<div class="row">\n' +
                '                            <div class="col-10 pr-0">\n' +
                '                                <input type="text" class="form-control mb-1" name="stack' + latest_technology.toString() + '" required>\n' +
                '                            </div>\n' +
                '                            <div class="col-1">\n' +
                '                                <button type="button" class="d-flex btn btn-danger stack-remove" data-stack="' + latest_technology.toString() + '">X</button>\n' +
                '                            </div>\n' +
                '                        </div>');
            $('.stack-remove').on('click', tech_deletion);
        });

        $('.stack-remove').on('click', tech_deletion);
    });
</script>
{% endblock %}
