{% extends "base.html" %}

{% block admin_navbar_items %}
    <li class="nav-item">
        <a class="nav-link" href="/index">View as user</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/data">Companies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/data_activities">Activities</a>
    </li>
{% endblock %}

{% block admin_scripts %}
    <script src="/static/js/admin.js"></script>
{% endblock %}
