{% extends "admin_base.html" %}
{% block title %}Creation of new company{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form action="#" method="post">
            <h4>Add Company</h4>
            <div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" name="location" required></textarea>
                </div>
                <div class="form-group">
                    <label>Logo URL</label>
                    <input type="text" class="form-control" name="logo" required>
                </div>
                <div class="container-fluid mb-3" >
                    <label>Works</label>
                    <div class="form-group" id="works-container">
                        <div class="row">
                            <div class="col-10 pr-0">
                                <input type="text" class="form-control mb-1" name="work1" required>
                            </div>
                            <div class="col-1">
                                <button type="button" class="d-flex btn btn-danger work-remove" data-work="1">X</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="add_work">Add work</button>
                </div>
            </div>
            <div class="modal-footer">
                <input type="reset" class="btn btn-default" value="Clear">
                <input type="submit" class="btn btn-success" value="Add">
            </div>
        </form>
    </div>
{% endblock %}

{% block afterscripts %}
<script>
    let latest_work = 1;
    $(document).ready(function() {
        function work_deletion() {
            let work = this.dataset.work;
            $('[name="work'+work+'"]').parent().parent().remove()
        }

        $('#add_work').on('click', function () {
            latest_work++;
            $('#works-container').append('<div class="row">\n' +
                '                            <div class="col-10 pr-0">\n' +
                '                                <input type="text" class="form-control mb-1" name="work' + latest_work.toString() + '" required>\n' +
                '                            </div>\n' +
                '                            <div class="col-1">\n' +
                '                                <button type="button" class="d-flex btn btn-danger work-remove" data-work="' + latest_work.toString() + '">X</button>\n' +
                '                            </div>\n' +
                '                        </div>');
            $('.work-remove').on('click', work_deletion);
        });

        $('.work-remove').on('click', work_deletion);
    });
</script>
{% endblock %}
