<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet prefetch' href='/static/css/style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <meta name="author" content="Momentum bots">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block afterhead %}{% endblock %}
    {% endblock %}
</head>


<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">
                Momentum Bots
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-5" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    {% block admin_navbar_items %}{% endblock %}
                    {% block user_navbar_items %}{% endblock %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Выход</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="spacer">
        &nbsp;
    </div>
    <div class="container-fluid" id="notifications_mount"></div>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });

        socket.on('company_created', function (data) {
            $('#notifications_mount').append('<div class="alert alert-success alert-dismissible fade show" role="alert">Company "'+data+'" was added<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                '    <span aria-hidden="true">&times;</span>\n' +
                '  </button></div>');
        });

        socket.on('company_updated', function (data) {
            $('#notifications_mount').append('<div class="alert alert-warning alert-dismissible fade show" role="alert">Company "'+data+'" was updated<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                '    <span aria-hidden="true">&times;</span>\n' +
                '  </button></div>');
        });

        socket.on('company_deleted', function (data) {
            $('#notifications_mount').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">Company "'+data+'" was deleted<button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                '    <span aria-hidden="true">&times;</span>\n' +
                '  </button></div>');
        });
    </script>
    {% block admin_scripts %}{% endblock %}
    {% block afterscripts %}{% endblock %}
</body>

</html>
