<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/static/css/login.css'>
</head>

<body>
    <div class="wrapper">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
            {% if error %}
                <div class="alert alert-danger error">
                    <strong>Error!</strong> {{ error }}
                </div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block btn-default" type="submit">Login</button>
        </form>
    </div>
</body>
</html>
