{% extends "base.html" %}

{% block admin_navbar_items %}
    {% if is_admin %}
        <li class="nav-item">
            <a class="nav-link" href="/data">Back to admin</a>
        </li>
    {% endif %}
{% endblock %}

{% block user_navbar_items %}
    <li class="nav-item">
        <a class="nav-link" href="/index">Companies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/activities">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/rules">Rules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
    </li>
{% endblock %}
