{% extends "user_base.html" %}
{% block title %}Rules{% endblock %}

{% block content %}
<div class="container-fluid">
    <ul>
        <li>Не пить</li>
        <li>Не курить</li>
    </ul>
</div>
{% endblock %}
