{% extends "user_base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
<div class="container-fluid">
    <br/>
	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col mx-2">
                        <input class="form-control form-control-lg form-control-borderless" id="search" type="search" placeholder="Search for company">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
    <div class="table-wrapper">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Logo URL</th>
                    <th>Works</th>
                </tr>
            </thead>
            <tbody id="results_mountpoint">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block afterscripts %}
<script>
    $('#search').on('input', function () {
        let val = this.value;
        if (val.length >= 3){
            socket.emit('search_result_request', {data: val})
        }else{
            $('#results_mountpoint').empty();
        }
    });

    socket.on('search_result_response', function (data) {
        let mountpoint = $('#results_mountpoint');
        mountpoint.empty();
        data.forEach(function (elem) {
            mountpoint.append('<tr><td></td><td>'+elem.name+'</td>'+
                '<td>'+elem.location+'</td>'+
                '<td>'+elem.logo+'</td><td>'+elem.works+'</td></tr>')
        })
    })
</script>
{% endblock %}
