{% extends "user_base.html" %}
{% block title %}Data view{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>Activities</b> View</h2>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>For company</th>
                    <th>Name</th>
                    <th>Minimum Price</th>
                    <th>Technology Stack</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in data %}
                <tr id="row_{{ activity.id }}">
                    <td>
                    </td>
                    <td>{{ activity.for_company }}</td>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.minimum_price }}</td>
                    <td>{{ activity.stack }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>{{ showed }}</b> out of <b id="total">{{ total }}</b> entries</div>
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item"><a href="/data_activities/{{ page - 1 }}" class="page-link">Previous</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link">Previous</a></li>
                {% endif %}

                {% for i in range(totalp) %}
                    <li class="page-item {{ 'active' if loop.index == page else '' }}"><a href="/data/{{ loop.index }}" class="page-link">{{ loop.index }}</a></li>
                {% endfor %}

                {% if page < totalp %}
                    <li class="page-item"><a href="/data_activities/{{ page + 1 }}" class="page-link">Next</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
